* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
}

h1, p {
    text-align: center;
    margin: 20px;
}

hr {
    margin: 25px;
}
form div {
    margin: 5px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}